<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Reconectando ao servidor...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Reconexão falhou... tentando novamente em <span id="components-seconds-to-next-attempt"></span> segundos.
        </p>
        <p class="components-reconnect-failed-visible">
            Falha na reconexão.<br />Por favor, recarregue a pagina e tente novamente.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Tentar novamente
        </button>
        <p class="components-pause-visible">
            A sessão foi pausada pelo servidor.
        </p>
        <button id="components-resume-button" class="components-pause-visible">
            Continuar
        </button>
        <p class="components-resume-failed-visible">
            Falha em continuar a sessão.<br />Por favor, recarregue a pagina e tente novamente.
        </p>
    </div>
</dialog>
